*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
  --Bright-Orange: hsl(31, 77%, 52%);
  --Dark-Cyan: hsl(184, 100%, 22%);
  --Very-Dark-Cyan: hsl(179, 100%, 13%);
  --font-size-400: "Lexend Deca", sans-serif;
  --font-size-700: "Big Shoulders Display";
  --transparent-color: hsla(0, 0%, 100%, 0.75);
  --very-light-grey: hsl(0, 0%, 95%);
}
body {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-1,
.card-2,
.card-3 {
  display: flex;
  flex-direction: column;
}
.card-1 {
  background-color: var(--Bright-Orange);
  height: calc(50rem + 1vh);
  padding: 40px;
  border-radius: 10px 0 0 10px;
}
.card-2 {
  background-color: var(--Dark-Cyan);
  height: calc(50rem + 1vh);
  padding: 40px;
}
.card-3 {
  background-color: var(--Very-Dark-Cyan);
  height: calc(50rem + 1vh);
  padding: 40px;
  border-radius: 0 10px 10px 0;
}

.card-1 > .heading,
.card-2 > .heading,
.card-3 > .heading {
  margin-top: 3rem;
  text-transform: uppercase;
  color: var(--very-light-grey);
  font-family: "Big Shoulders Display", cursive;
}
.card-1 > .Para,
.card-2 > .Para,
.card-3 > .Para {
  margin-top: 3rem;
  letter-spacing: 1.3px;
  height: 5rem;
  line-height: 2.5rem;
  color: var(--transparent-color);
  font-family: "Lexend Deca", sans-serif;
}
.card-1 > a,
.card-2 > a,
.card-3 > a {
  position: relative;
  top: 45%;
  text-decoration: none;
  color: var(--Bright-Orange);
  background-color: var(--very-light-grey);
  width: calc(12rem + 1vw);
  font-family: "Lexend Deca", sans-serif;
  padding: 13px;
  text-align: center;
  border-radius: 20px;
}
.card-2 > a {
  color: var(--Dark-Cyan);
}
.card-3 > a {
  color: var(--Very-Dark-Cyan);
}
img {
  width: 60px;
  height: 40px;
}
